/* FOOTER */

.footer-bar {
  background-color: rgb(18, 17, 17);
  color: var(--invert-hsl);
  padding-inline: 2rem;
}

.footer-bar_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;

  margin-top: var(--section-gap);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
